@model PhotosViewModel

<h1 align="center">GALLERY</h1>

<form method="get">
    <div>
        <div style="margin-left: 10px; margin-right: 10px; display: inline-block">
            <label>Tag: </label>
            <select name="tag" asp-items="Model.FilterViewModel.Tags" class="form-control" style="width: 100px"></select>
        </div>
        <input type="submit" value="Filter" class="btn btn-outline-dark" />
    </div>
</form>

<div class="row mt-5 mb-2">
    @{
        foreach (Photo photo in Model.Photos)
        {
            @Html.Partial("AllPhotos", photo)
        }
    }
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous
    </a>
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}